<div class="circle">
  <svg style="z-index: -100; overflow: visible;" version="1.1" viewBox="0 0 1000 1000" preserveAspectRatio="xMinYMin meet">
    <defs>
      <linearGradient id="MyGradient">
        <stop offset="3%" stop-color="#E9E9E9"/>
        <stop offset="97%" stop-color="#D9D9D9"/>
      </linearGradient>
    </defs>
    <circle fill="url(#MyGradient)" transform="rotate(0)" opacity="0.6" cx="1000" cy="400" r="70%"/>
    <circle fill="url(#MyGradient)" transform="rotate(45)" opacity="0.4" cx="0" cy="0" r="70%"></circle>
  </svg>

  <p class="form-introduction">Please fill up the information below. We will email you your results and some other cool stuff!</p>
  <!--<p class="form-introduction">{{diagnostic}}</p>-->

  <div style="margin:7vw;">

    <form #form="ngForm">
      <div class="form-group" style="margin-top: 1em">
        <label for="title">call me</label>
        <select class="form-control" id="title"
                required
                [(ngModel)]="model.titles" name="title" #title="ngModel">
          <option *ngFor="let title of titles" [value]="title">{{title}}</option>
        </select>
        <div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          Title is required
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <label for="firstName">First Name</label>
          </div>
          <div class="col-6">
            <label for="lastName">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="col-6 padding-right-left-7px">
            <input type="text" class="form-control" id="firstName"
                   required placeholder="First Name"
                   [(ngModel)]="model.firstName" name="firstName" #firstName="ngModel">
            <div [hidden]="firstName.valid || firstName.pristine"
                 class="alert alert-danger">
              First Name is required
            </div>
          </div>
          <div class="col-6 padding-right-left-7px">
            <input type="text" class="form-control" id="lastName"
                   required placeholder="Last Name"
                   [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel">
            <div [hidden]="lastName.valid || lastName.pristine"
                 class="alert alert-danger">
              Last Name is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" required placeholder="example@email.com"
               [(ngModel)]="model.emailAdd" name="email" pattern="[^ @]*@[^ @]*" #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
             class="alert alert-danger">
          Email Address is required
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNum">Phone Number</label>
        <input type="tel"  class="form-control" id="phoneNum" required placeholder="0198765432"
               [(ngModel)]="model.phoneNumber" name="phoneNum" #phoneNum="ngModel">
        <div [hidden]="phoneNum.valid || phoneNum.pristine"
             class="alert alert-danger">
          Phone Number is required
        </div>
      </div>

      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text"  class="form-control" id="companyName" required placeholder="Company Sdn Bhd"
               [(ngModel)]="model.companyName" name="companyName" #companyName="ngModel">
        <div [hidden]="phoneNum.valid || phoneNum.pristine"
             class="alert alert-danger">
          Company Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="position">Position Title</label>
        <input type="text"  class="form-control" id="position" required placeholder="Position"
               [(ngModel)]="model.position" name="position" #position="ngModel">
        <div [hidden]="position.valid || position.pristine"
             class="alert alert-danger">
          Position Title Name is required
        </div>
      </div>

      <div class="form-group">
        <mat-checkbox type="checkbox" id="likeToKnowMore" [(ngModel)]="model.likeToKnowMore" name="likeToKnowMore"></mat-checkbox>
        <label style="padding-left: 7vw; line-height: 6vw" for="likeToKnowMore">I would like to know more about FEETS</label>
      </div>

      <button type="submit" class="btn btn-success" (click)="goHome()">Send me my results</button>

    </form>
  </div>

</div>
