.form-introduction{
  color: #7A7A7A;
  margin: 7vw 7vw 2vw 7vw;
  font-size: 4vw;
}

.circle {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 90vh;
  vertical-align: middle;
  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  circle {
    fill: rgba(128, 128, 128, 0.29);
  }
}


label{
  color: #7A7A7A;
  font-weight: bold;
  font-family: Arial;
  font-size: 3vw;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
  width: 6vw !important;
  height: 6vw !important;
  display: inline-block !important;
  margin-left: 0px;
  margin: -1px 0 0;
  border: none !important;
  border-radius: 0.3em !important;
  box-shadow: none;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #F1CC20 !important;
}

.form-45{
  width: 45%;
  display: inline-flex;
}

.checkbox label{
  padding: 0px;
}

.btn-success {
  color: #fff;
  font-weight: bolder;
  //background-color: #FFE25B;
  background-image: linear-gradient(to right, #FFE25B , #F1CC20);
  border-color: transparent;
  width: 100%;
}

.padding-right-3pt5px{
  padding-right: 3.5px !important;
}

.padding-left-3pt5px{
  padding-left: 3.5px !important;
}

.col-half-offset{
  margin-left: 1.966667%;
}

.col-half-offset-on{
  margin-left: 3.366667%;
}

.nopadding{
  padding-right: 0px !important;
  padding-left: 0px !important;
}


//.row{
//  margin-left: initial !important;
//  margin-right: initial !important;
//}
