<script src="../form/form.component.ts"></script>
<div class="dashboard-container">
  <div class="dashboard-white-container">
    <div class="logo-description">
      <div style="margin: 10px auto; width: 14vw"><img width="100%" src="../assets/img/feets-logo-gradient.png"></div>
      <div>Making employee engagement fun and rewarding</div>
      <div style="border-bottom: #4f4f4f 1px;"></div>
      <div>The analytics below represent our booth visitors' <span class="text">Feet's Level</span> with their
        organizations.
      </div>
    </div>
    <!--Grid-->
    <div style="text-align: -webkit-center;">
      <div class="row title-label" style="padding: 1vw; ">
        <div class="col-3">
          Feet's booth visitors
        </div>
        <div class="col-3">
          STRESS
        </div>
        <div class="col-3">
          ENGAGEMENT
        </div>
        <div class="col-3">
          HAPPINESS
        </div>
      </div>
      <div class="row" style="padding: 1vw; text-align: -webkit-center;">
        <div *ngIf="!dataEmpty" class="col-3 booth-visitor-number">
          {{activeUsersValAll}}
        </div>
        <div *ngIf="dataEmpty" class="col-3 booth-visitor-number">
          --
        </div>
        <div class="col-3">
          <div class="wording-chart-container">
            <div class="wording-chart-container2">
              <div>
                <div *ngIf="!dataEmpty">
                  {{stressValAll}}/{{activeUsersValAll}}
                </div>
                <div *ngIf="dataEmpty">
                  --
                </div>
                <div *ngIf="!dataEmpty" class="number-percentange" style="color: #e53935; margin: 0.2vw 0;">{{stressPercentageAll}}%</div>
                <div *ngIf="dataEmpty" class="number-percentange" style="color: #e53935; margin: 0.2vw 0;">--</div>
                <div>stressed</div>
              </div>
            </div>
            <div style="position:relative; height: 250px; width: 250px;">
              <canvas id="doughnut1" width="220" height="220"
                      style="position:absolute; border-radius: 25px; top: 50%; left: 50%; transform: translate(-50%, -50%);"></canvas>
              <canvas id="doughnut2" width="250" height="250" style="position:absolute; top: 0px; left: 0px"></canvas>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="wording-chart-container">
            <div class="wording-chart-container2">
              <div>
                <div *ngIf="!dataEmpty">
                  {{engagementValAll}}/{{activeUsersValAll}}
                </div>
                <div *ngIf="dataEmpty">
                  --
                </div>
                <div *ngIf="!dataEmpty" class="number-percentange" style="color: #fbc02d; margin: 0.2vw 0;">{{engagementPercentageAll}}%</div>
                <div *ngIf="dataEmpty" class="number-percentange" style="color: #fbc02d; margin: 0.2vw 0;">--</div>
                <div>engaged</div>
              </div>
            </div>
            <div style="position:relative; height: 250px; width: 250px">
              <canvas id="doughnut3" width="220" height="220"
                      style="position:absolute; border-radius: 25px; top: 50%; left: 50%; transform: translate(-50%, -50%);"></canvas>
              <canvas id="doughnut4" width="250" height="250" style="position:absolute; top: 0px; left: 0px"></canvas>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="wording-chart-container">
            <div class="wording-chart-container2">
              <div>
                <div *ngIf="!dataEmpty">
                  {{happinessValAll}}/{{activeUsersValAll}}
                </div>
                <div *ngIf="dataEmpty">
                  --
                </div>
                <div *ngIf="!dataEmpty" class="number-percentange" style="color: #4caf50; margin: 0.2vw 0;">{{happinessPercentageAll}}%</div>
                <div *ngIf="dataEmpty" class="number-percentange" style="color: #4caf50; margin: 0.2vw 0;">--</div>
                <div>happy</div>
              </div>
            </div>
            <div style="position:relative; height: 250px; width: 250px">
              <canvas id="doughnut5" width="220" height="220"
                      style="position:absolute; border-radius: 25px; top: 50%; left: 50%; transform: translate(-50%, -50%);"></canvas>
              <canvas id="doughnut6" width="250" height="250" style="position:absolute; top: 0px; left: 0px"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_male.svg" />
          </div>
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_female.svg" />
          </div>
        </div>
        <div class="col-3">
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_male.svg" />
          </div>
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_female.svg" />
          </div>
        </div>
        <div class="col-3">
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_male.svg" />
          </div>
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_female.svg" />
          </div>
        </div>
        <div class="col-3">
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_male.svg" />
          </div>
          <div class="col-5 gender-legend">
            <img src="../assets/img/icon_female.svg" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            {{activeUsersMale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            --
          </div>
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            {{activeUsersFemale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            --
          </div>
        </div>
        <div class="col-3">
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            {{stressPercentageMale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            --
          </div>
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            {{stressPercentageFemale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            --
          </div>
        </div>
        <div class="col-3">
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            {{engagementPercentageMale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            --
          </div>
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            {{engagementPercentageFemale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            --
          </div>
        </div>
        <div class="col-3">
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            {{happinessPercentageMale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend boy">
            --
          </div>
          <div *ngIf="!dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            {{happinessPercentageFemale}}%
          </div>
          <div *ngIf="dataEmpty" class="col-5 gender-legend percentage-gender-legend girl">
            --
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-lightgray-container">
      Disclaimer: The analytics shown are designed only for simulation purposes.Feet's real structure is more
      complicated
      delivering better and more insightful data.
    </div>
  </div>
