
.HRDF-first-page{
  color: #444444;
  font-family: calibri;
  font-size: 2.5em;
}

//fonts import
@font-face {
  font-family: 'calibri';
  src: url('../assets/fonts/calibri.eot');
  src: url('../assets/fonts/calibri.eot') format('embedded-opentype'),
  url('../assets/fonts/calibri.woff2') format('woff2'),
  url('../assets/fonts/calibri.woff') format('woff'),
  url('../assets/fonts/calibri.ttf') format('truetype'),
  url('../assets/fonts/calibri.svg#calibri') format('svg');
}

